body {
    background-color:       #F0F0F0;
    margin:                 40px;
    font-family:            Lucida Grande, Verdana, Sans-serif;
    font-size:              12px;
    color:                  #333;
}

#content  {
    border:                 #CCC 1px solid;
    background-color:       #fff;
    padding:                20px;
    border-radius:          10px;
    -moz-border-radius:     10px;
    -webkit-border-radius:  10px;
}

h1 {
    color:                  #009999;
    font-weight:            bold;
    font-size:              26px;
    margin-bottom:          5px;
}

strong
{
    font-weight:            bold;
}

a
{
    text-decoration: underline;
    color: #000;
}

img.img48 {
    position: relative;
    margin-bottom: -16px;
}

#header
{
    padding-bottom:         10px;
    margin-bottom:          10px;
    border-bottom:          1px dashed #CCC;
}

#header img
{
    margin-right:           5px;
}

table { border-collapse: collapse; }

table td
{
    vertical-align:         middle;
    font-size:              12px;
}

#tests
{
    margin-left: 15px;
}

#tests ul
{
    list-style:disc;
}

#tests li
{
    padding: 3px;
}

#testsResults ul
{
    list-style: none;
}

#testsResults li
{
    padding: 3px;
}

#testsResults img
{
    margin-right: 3px;
    margin-bottom: -3px;
}